In [4]:
import unificar_semanas_sipsa

In [5]:
import pandas as pd
import pickle
import glob

### etapa 0. Unificación de semanas

El objetivo de la función sipsa es unificar y almacenar las información de las bases de datos del SIPSA Y unificarlas para su posterior uso, guardandolas en la carpeta Interim.

In [16]:
unificar_semanas_sipsa.sipsa()

finalizado concatenado de la base 1
Guadando información
finalizado 1 de 3
finalizado concatenado de la base 2
Guadando información
finalizado 2 de 3
finalizado concatenado de la base 3
Guadando información
finalizado 3 de 3

### etapa 1. Analisis de información externa

In [6]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df_productos1 = pd.read_excel("../interim/data1.xlsx")
df_productos2 = pd.read_excel("../interim/data2.xlsx")
df_productos3 = pd.read_excel("../interim/data3.xlsx")

In [18]:
df_productos1 = pd.concat([df_productos1, df_productos2, df_productos3], ignore_index=True)
df_productos1.head(2)

,Unnamed: 0.1,Producto,Mercado mayorista,Precio mínimo,Precio máximo,Precio medio,Tendencia,Unnamed: 6,Archivo,Unnamed: 0,Periodo,Fecha
0,0,Acelga,"Bogotá, D.C., Corabastos",400.0,1333.0,719.0,+++,NaN,Semanal-01jul-07jul-2023.xlsx,71,72,2023-07-01
1,1,Acelga,"Bucaramanga, Centroabastos",2000.0,2000.0,2000.0,=,NaN,Semanal-01jul-07jul-2023.xlsx,71,72,2023-07-01

In [19]:
# Función para graficar y filtrar
df_productos1 = df_productos1.sort_values(by='Fecha')
def plot_filtered_graph(tipo_producto,marca):
    filtered_df = df_productos1[(df_productos1['Producto'] == tipo_producto) & (df_productos1['Mercado mayorista'] == marca)]
    fig = px.line(filtered_df, x='Fecha', y='Precio medio', title=f'Precios Promedio - Tipo {tipo_producto}')
    fig.show()

# Widget de selección
tipo_producto_widget = widgets.Dropdown(
    options=df_productos1['Producto'].unique(),
    value=df_productos1['Producto'].unique()[0],
    description='Producto:'
)

tipo_marcador= widgets.Dropdown(
    options=df_productos1['Mercado mayorista'].unique(),
    value=df_productos1['Mercado mayorista'].unique()[0],
    description='Mercado mayorista:'
)

# Interactividad
interact(plot_filtered_graph, tipo_producto=tipo_producto_widget ,marca = tipo_marcador)

interactive(children=(Dropdown(description='Producto:', options=('Cebolla junca', 'Haba verde', 'Habichuela', …

### etapa 2. Extraer información de análisis de costos

### etapa 3. Extraer información de análisis de costos

In [21]:
bases = pd.read_csv("../interim/base_consolidada.csv")

In [22]:
bases.head(1)

,Unnamed: 0,nro_orden,fecha,producto,cantidad,precio,descuento,customer_id,sku,product_id_x,...,totalContribucionConDescuento,name,category,region_code,product_category_id,mean_shelf_life,promised_lead_time,purchasing_unit,buy_unit,weight_parameter_apricot
0,0,18120194,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,10,2750.0,46750.0,1f1b98af-ee04-4849-a6cf-4fecdf7dba50,BAQ-FRU1-CAT6-234:304:750:770,770,...,-42550.0,Papa Blanca Sucia Tamaño Mixto - KG,Tubérculos,BAQ,1.0,3.0,0.0,48.0,KG,1.0

In [23]:
homologacion = pd.read_excel("../input/homologación_sipsa_frubana_1.xlsx")

In [24]:
homologacion.head(1)

       frubana_name    Sipsa_name  Base_Sipsa
0  Ñame Estándar Kg  Ñame criollo         3.0

In [25]:
len(homologacion.frubana_name.unique())

141

In [26]:
merged_df = pd.merge(bases, homologacion, left_on='producto', right_on='frubana_name', how='inner')
merged_df.head(1)

,Unnamed: 0,nro_orden,fecha,producto,cantidad,precio,descuento,customer_id,sku,product_id_x,...,region_code,product_category_id,mean_shelf_life,promised_lead_time,purchasing_unit,buy_unit,weight_parameter_apricot,frubana_name,Sipsa_name,Base_Sipsa
0,0,18120194,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,10,2750.0,46750.0,1f1b98af-ee04-4849-a6cf-4fecdf7dba50,BAQ-FRU1-CAT6-234:304:750:770,770,...,BAQ,1.0,3.0,0.0,48.0,KG,1.0,Papa Blanca Sucia Tamaño Mixto Kg,Papa nevada,3.0

In [27]:
# Function to calculate the beginning of the week (Sunday)
def beginning_of_week(date):
# Calculate the difference in days between the current day and Saturday (5: Saturday)
    days_to_saturday = (5 - date.weekday()) % 7
    # Add the days to get the date of the Saturday of the week
    return date + pd.Timedelta(days=days_to_saturday)

# Apply the function to the 'Date' column to create the 'Beginning_week' column
merged_df['fecha'] = pd.to_datetime(merged_df['fecha'])
merged_df['Beginning_week'] = merged_df['fecha'].apply(beginning_of_week)
# Display the dataframe
merged_df.head(1)

,Unnamed: 0,nro_orden,fecha,producto,cantidad,precio,descuento,customer_id,sku,product_id_x,...,product_category_id,mean_shelf_life,promised_lead_time,purchasing_unit,buy_unit,weight_parameter_apricot,frubana_name,Sipsa_name,Base_Sipsa,Beginning_week
0,0,18120194,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,10,2750.0,46750.0,1f1b98af-ee04-4849-a6cf-4fecdf7dba50,BAQ-FRU1-CAT6-234:304:750:770,770,...,1.0,3.0,0.0,48.0,KG,1.0,Papa Blanca Sucia Tamaño Mixto Kg,Papa nevada,3.0,2023-01-07

In [28]:
df_productos1= df_productos1[df_productos1["Mercado mayorista"]=='Barranquilla, Barranquillita']

In [29]:
df_productos1['Fecha'] = pd.to_datetime(df_productos1['Fecha'])

# Realizar el merge utilizando las columnas convertidas a datetime64[ns]
merged_df2 = pd.merge(merged_df,df_productos1, left_on=['Sipsa_name', 'Beginning_week'], right_on=['Producto', 'Fecha'], how='left')

# Mostrar las primeras filas del DataFrame resultante
merged_df2.head(1)

,Unnamed: 0_x,nro_orden,fecha,producto,cantidad,precio,descuento,customer_id,sku,product_id_x,...,Mercado mayorista,Precio mínimo,Precio máximo,Precio medio,Tendencia,Unnamed: 6,Archivo,Unnamed: 0_y,Periodo,Fecha
0,0,18120194,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,10,2750.0,46750.0,1f1b98af-ee04-4849-a6cf-4fecdf7dba50,BAQ-FRU1-CAT6-234:304:750:770,770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [30]:
merged_df.head(1)

,Unnamed: 0,nro_orden,fecha,producto,cantidad,precio,descuento,customer_id,sku,product_id_x,...,product_category_id,mean_shelf_life,promised_lead_time,purchasing_unit,buy_unit,weight_parameter_apricot,frubana_name,Sipsa_name,Base_Sipsa,Beginning_week
0,0,18120194,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,10,2750.0,46750.0,1f1b98af-ee04-4849-a6cf-4fecdf7dba50,BAQ-FRU1-CAT6-234:304:750:770,770,...,1.0,3.0,0.0,48.0,KG,1.0,Papa Blanca Sucia Tamaño Mixto Kg,Papa nevada,3.0,2023-01-07

In [31]:
merged_df2.shape

(314571, 45)

In [32]:
merged_df2.to_csv("../output/base_de_datos.csv")

### etapa 4. Correlaciones

In [45]:
Base_total = merged_df2[['nro_orden', 'fecha', 'producto', 'cantidad', 'precio',
       'descuento', 'customer_id', 'sku', 'product_id_x',
       'product_quantity_x_step_unit', 'product_step_unit', 'product_unit',
       'sku_parent', 'month', 'totalVentasSinDescuento',
       'totalVentasConDescuento', 'unit cost', 'totalContribucionSinDescuento',
       'totalContribucionConDescuento', 'name', 'category', 'region_code',
       'product_category_id', 'mean_shelf_life', 'promised_lead_time',
       'purchasing_unit', 'buy_unit', 'weight_parameter_apricot',
       'frubana_name', 'Sipsa_name', 'Base_Sipsa', 'Beginning_week',
       'Unnamed: 0.1', 'Producto', 'Mercado mayorista', 'Precio mínimo',
       'Precio máximo', 'Precio medio','Periodo', 'Fecha']].copy()

In [46]:
Base_total_sliced = merged_df2[['fecha', 'producto','sku','precio','Precio medio']].copy()
Base_total_sliced.head(1)

,fecha,producto,sku,precio,Precio medio
0,2023-01-03,Papa Blanca Sucia Tamaño Mixto Kg,BAQ-FRU1-CAT6-234:304:750:770,2750.0,NaN

In [47]:
# Calcular la matriz de correlaciones
grouped_df = Base_total_sliced.groupby(['fecha', 'sku']).mean().reset_index()

# Pivotar el DataFrame para obtener las columnas deseadas
pivoted_df = grouped_df.pivot(index='fecha', columns='sku', values=['precio'])

# Renombrar las columnas para que tengan el formato deseado
pivoted_df.columns = [f'{col[0]}_{col[1]}' for col in pivoted_df.columns]

# Reiniciar el índice para tener una estructura más limpia
pivoted_df.reset_index(inplace=True)

# Mostrar el DataFrame resultante
pivoted_df.head(2)

C:\Users\aabv1\AppData\Local\Temp\ipykernel_2300\1681482821.py:2: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,fecha,precio_BAQ-FRU1-CAT1-111:277:659:660,precio_BAQ-FRU1-CAT1-14:49:115:116,precio_BAQ-FRU1-CAT1-157:273:651:652,precio_BAQ-FRU1-CAT1-15:50:117:118,precio_BAQ-FRU1-CAT1-16:51:119:120,precio_BAQ-FRU1-CAT1-19:52:121:122,precio_BAQ-FRU1-CAT1-205:306:758:759,precio_BAQ-FRU1-CAT1-208:432:1113:1114,precio_BAQ-FRU1-CAT1-20:53:123:124,...,precio_BAQ-FRU1-CAT6-26:59:135:136,precio_BAQ-FRU1-CAT6-283:371:966:967,precio_BAQ-FRU1-CAT6-298:790:2017:2018,precio_BAQ-FRU1-CAT6-43:73:164:863,precio_BAQ-FRU1-CAT6-46:61:139:140,precio_BAQ-FRU1-CAT6-46:61:239:240,precio_BAQ-FRU1-CAT6-46:61:727:728,precio_BAQ-FRU1-CAT6-64:86:193:194,precio_BAQ-FRU1-CAT6-658:852:2157:2158,precio_BAQ-FRU1-CAT6-82:276:657:658
0,2022-07-30,NaN,3192.0,3398.076923,3101.0,11271.0,11730.0,5100.000000,7160.0,12255.0,...,6610.0,2600.0,3400.0,2400.0,4420.0,NaN,3690.0,3530.0,1090.0,7790.0
1,2022-08-01,20173.333333,3192.0,3646.842105,3101.0,11271.0,NaN,5526.666667,6920.0,NaN,...,6610.0,NaN,3400.0,2400.0,4335.0,NaN,4510.0,3530.0,1090.0,7790.0

In [48]:
corr_matrix = pivoted_df.corr()
corr_matrix.head(1)

C:\Users\aabv1\AppData\Local\Temp\ipykernel_2300\205485597.py:1: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

,precio_BAQ-FRU1-CAT1-111:277:659:660,precio_BAQ-FRU1-CAT1-14:49:115:116,precio_BAQ-FRU1-CAT1-157:273:651:652,precio_BAQ-FRU1-CAT1-15:50:117:118,precio_BAQ-FRU1-CAT1-16:51:119:120,precio_BAQ-FRU1-CAT1-19:52:121:122,precio_BAQ-FRU1-CAT1-205:306:758:759,precio_BAQ-FRU1-CAT1-208:432:1113:1114,precio_BAQ-FRU1-CAT1-20:53:123:124,precio_BAQ-FRU1-CAT1-21:54:125:126,...,precio_BAQ-FRU1-CAT6-26:59:135:136,precio_BAQ-FRU1-CAT6-283:371:966:967,precio_BAQ-FRU1-CAT6-298:790:2017:2018,precio_BAQ-FRU1-CAT6-43:73:164:863,precio_BAQ-FRU1-CAT6-46:61:139:140,precio_BAQ-FRU1-CAT6-46:61:239:240,precio_BAQ-FRU1-CAT6-46:61:727:728,precio_BAQ-FRU1-CAT6-64:86:193:194,precio_BAQ-FRU1-CAT6-658:852:2157:2158,precio_BAQ-FRU1-CAT6-82:276:657:658
precio_BAQ-FRU1-CAT1-111:277:659:660,1.0,-0.076165,0.161556,0.017318,0.333696,0.11259,-0.083723,-0.517114,-0.025076,0.3686,...,0.357747,-0.446773,-0.482203,0.211428,0.30016,0.491666,-0.102345,0.299227,-0.361294,0.203081

In [49]:
stacked_corr = corr_matrix.stack().reset_index()
stacked_corr.columns = ['Producto1', 'Producto2', 'Correlacion']
stacked_corr
filtered_df = stacked_corr[stacked_corr['Producto1'].str.contains('precio')]
filtered_df = filtered_df[filtered_df["Correlacion"] != 1]
filtered_df.head(1)

,Producto1,Producto2,Correlacion
1,precio_BAQ-FRU1-CAT1-111:277:659:660,precio_BAQ-FRU1-CAT1-14:49:115:116,-0.076165

In [60]:
filtered_df.to_csv("../interim/correlaciones_precios.csv")

In [61]:
Base_total_sliced2 = merged_df2[['fecha', 'producto','sku','cantidad','Precio medio']].copy()
Base_total_sliced2.head(1)

# Calcular la matriz de correlaciones
grouped_df = Base_total_sliced2.groupby(['fecha', 'sku']).mean().reset_index()

# Pivotar el DataFrame para obtener las columnas deseadas
pivoted_df = grouped_df.pivot(index='fecha', columns='sku', values=['cantidad'])

# Renombrar las columnas para que tengan el formato deseado
pivoted_df.columns = [f'{col[0]}_{col[1]}' for col in pivoted_df.columns]

# Reiniciar el índice para tener una estructura más limpia
pivoted_df.reset_index(inplace=True)

# Mostrar el DataFrame resultante
corr_matrix = pivoted_df.corr()
corr_matrix.head(1)

C:\Users\aabv1\AppData\Local\Temp\ipykernel_2300\1598374383.py:5: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

C:\Users\aabv1\AppData\Local\Temp\ipykernel_2300\1598374383.py:17: FutureWarning:

The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.

,cantidad_BAQ-FRU1-CAT1-111:277:659:660,cantidad_BAQ-FRU1-CAT1-14:49:115:116,cantidad_BAQ-FRU1-CAT1-157:273:651:652,cantidad_BAQ-FRU1-CAT1-15:50:117:118,cantidad_BAQ-FRU1-CAT1-16:51:119:120,cantidad_BAQ-FRU1-CAT1-19:52:121:122,cantidad_BAQ-FRU1-CAT1-205:306:758:759,cantidad_BAQ-FRU1-CAT1-208:432:1113:1114,cantidad_BAQ-FRU1-CAT1-20:53:123:124,cantidad_BAQ-FRU1-CAT1-21:54:125:126,...,cantidad_BAQ-FRU1-CAT6-26:59:135:136,cantidad_BAQ-FRU1-CAT6-283:371:966:967,cantidad_BAQ-FRU1-CAT6-298:790:2017:2018,cantidad_BAQ-FRU1-CAT6-43:73:164:863,cantidad_BAQ-FRU1-CAT6-46:61:139:140,cantidad_BAQ-FRU1-CAT6-46:61:239:240,cantidad_BAQ-FRU1-CAT6-46:61:727:728,cantidad_BAQ-FRU1-CAT6-64:86:193:194,cantidad_BAQ-FRU1-CAT6-658:852:2157:2158,cantidad_BAQ-FRU1-CAT6-82:276:657:658
cantidad_BAQ-FRU1-CAT1-111:277:659:660,1.0,-0.039558,-0.091036,-0.023699,0.063767,0.090429,0.03692,-0.023119,0.181888,-0.000177,...,-0.063246,-0.111847,-0.062049,-0.075137,-0.071414,0.11249,-0.071032,0.04816,0.061956,0.005426

In [66]:
stacked_corr = corr_matrix.stack().reset_index()
stacked_corr.columns = ['Producto1', 'Producto2', 'Correlacion']
stacked_corr
stacked_corr.head(1)
stacked_corr.to_csv("../interim/correlaciones_cantidad.csv")

In [67]:
stacked_corr.head(4)

,Producto1,Producto2,Correlacion
0,cantidad_BAQ-FRU1-CAT1-111:277:659:660,cantidad_BAQ-FRU1-CAT1-111:277:659:660,1.000000
1,cantidad_BAQ-FRU1-CAT1-111:277:659:660,cantidad_BAQ-FRU1-CAT1-14:49:115:116,-0.039558
2,cantidad_BAQ-FRU1-CAT1-111:277:659:660,cantidad_BAQ-FRU1-CAT1-157:273:651:652,-0.091036
3,cantidad_BAQ-FRU1-CAT1-111:277:659:660,cantidad_BAQ-FRU1-CAT1-15:50:117:118,-0.023699